{{ define "signup" }}
<!-- ======= Contact Section ======= -->
<section>
    <div>
        <form action="/signup" method="post" role="form">
            <div>
                <input type="text" name="introduction" class="form-control" placeholder="Tell me about the problem you have, so that we can understand you more and match you with people with similar problem."/>
            </div>
            <div class="text-center"><button class="btn-primary btn-block" type="submit" style="background: #2487ce;
                        border: 0;
                        padding: 10px 30px;
                        color: #fff;
                        transition: 0.4s;
                        border-radius: 4px;">Start chatting(:</button></div>
        </form>
    </div>
</section><!-- End Contact Section -->
{{ end }}