{{ define "chat_form" }}
            <div>
            <form action="/post" method="post" role="form">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" class="form-control" name="post" placeholder="Chat..."
                               required />
                    </div>
                    <div class="text-center"><button class="btn-primary btn-block" type="submit" style="background: #2487ce;
                        border: 0;
                        padding: 10px 30px;
                        color: #fff;
                        transition: 0.4s;
                        border-radius: 4px;">Chat</button></div>
                </div>
            </form>
            </div>
{{ end }}