{{ define "post_list" }}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Your Posts</h1>
            </div>
        </div>

        <div class="row icon-boxes">
            <div>
                {{ range .Yield }}
                <div>
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <p class="description">{{ .Content }}</p>
                    {{ range .Comments }}
                    {{ .Content }}
                    {{ end }}
                    <form action="/comment/{{ .ID }}" method="post" role="form">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" name="content" placeholder="Comment"
                                       required />
                            </div>
                            <div class="text-center"><button class="btn-primary btn-block" type="submit" style="background: #2487ce;
                        border: 0;
                        padding: 10px 30px;
                        color: #fff;
                        transition: 0.4s;
                        border-radius: 4px;">Comment</button></div>
                        </div>
                    </form>

                    <form action="/delete/{{ .ID }}" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section><!-- End Hero -->
{{ end }}