{{ define "nav" }}
<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/">ChatLah</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        {{ if .User }}
        <div>
          <li><a href="/group">Group</a></li>
        </div>
        {{ else }}
        {{ end }}

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
{{ end }}